.alert-overlay {
  position: fixed;
  top: 20%;
  right: 10px;
  transform: translateY(-50%);
  background: transparent;
}

.alert {
  background-color: #3498db;
  border-radius: 20px;
  padding: 20px;
  box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.close-btn {
  display: none; /* Hide the close button */
}

.alert p {
  color: white;
}

.alert:hover {
  border: 2px solid #2980b9;
}
