@tailwind base;
@tailwind components;
@tailwind utilities;
@import 'assets/styles/theme.scss';

body {
  &.light {
    $system: (
      bodyBg: 'colors.#{$base}.50',
    );

    background: theme(map-deep-get($system, bodyBg));
  }

  &.dark {
    $system: (
      bodyBg: 'colors.#{$base}.900',
    );

    background: theme(map-deep-get($system, bodyBg));
  }
}
