@import './theme.scss';

.light {
  $bodyBg: 'colors.white';
  $bodyTextColor: 'colors.#{$base}.500';

  .v-footer {
    background-color: theme($bodyBg);

    span,
    ul {
      color: theme($bodyTextColor);
    }
  }
}

.dark {
  $bodyBg: 'colors.black/.4';
  $bodyTextColor: 'colors.#{$base}.50';

  .v-footer {
    background-color: theme($bodyBg);

    span,
    ul {
      color: theme($bodyTextColor);
    }
  }
}

.v-footer {
}
